.feedback > .container > h3 {
    font-size: 28px;
    line-height: 20px;
    margin-top: 39px;
}

.feedback > .container > h3 > span {
    color: #708cbb;
}

.feedback > .container > a {
    color: #214e9b;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin: auto;
}

.feedback > .container {
    display: flex;
}

.slide {
    padding: 10px;
    border-left: 1px solid #e1e1e1;
    padding: 0 10px;
}

.slide > a {
    color: #214e9b;
    font-size: 18px;
    line-height: 30px;
}

.slide > p {
    margin: 5px 0;
}

.slide > p:first-of-type {
    color: #8f8f8f;
    line-height: 30px;
}

.slide > p:last-of-type {
    color: #5e5e5e;
    font-style: italic;
}

.question {
    display: flex;
    margin: 10px 0;
    align-items: baseline;
}

.question > p {
    margin: 0 20px 0 0;
    color: #8f8f8f;
    line-height: 30px;
}

.question-item {
    display: flex;
}

.question-item:last-of-type {
    flex-direction: column;
}

.question-item > img {
    margin-right: 20px;
    height: 45px;
    width: 45px;
}

.question > a {
    color: #214e9b;
}

.raiting > p { 
    margin: 0;
    color: #8f8f8f;
    line-height: 30px;
}

.glide-one {
    margin-bottom: 52px;
}

@media (max-width: 1000px) {
    .feedback>.container>h3 {
        font-size: 20px;
        line-height: 24px;
    }
}
