.links {
    display: flex;
    background-color: #708cbb;
    height: 40px;
    line-height: 40px;
}

.links > a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 20px;
}

.links > a:hover,
.links > a.active {
    background-color: #ffffff;
    color: #214e9b;
    text-decoration: none;
}

.links > a:first-child {
    margin-left: 135px;
}

.links-bg-box {
    background-color: #708cbb;
}
