.psy-list {
    display: flex;
    flex-direction: column;
}

.psy-list > h3 {
    font-size: 28px;
    margin-top: 39px;
}

.psy-list > h3 > span {
    color: #708cbb;
}

.psy-list > p {
    color: #5e5e5e;
    font-style: italic;
    line-height: 26px;
}

.psy-list > a {
    color: #214e9b;
    margin: 39px auto;
}

.another-slide {
    padding: 16px 18px;
    background: white;
}

.another-slide-header {
    display: flex;
    flex-direction: column; 
    width: 130px;
    margin: auto;
}

.another-slide-header > img {
    width: 130px;
    height: 130px;
}

.another-slide-header > a {
    color: #cc3399;
    font-weight: 700;
}

.another-slide-header > p {
    font-size: 14px;
    line-height: 20px;
    color: #5e5e5e;
    font-weight: 700;
}

.another-slide-footer {
    margin-top: 63px;
    width: 130px;
    margin: auto;
}

.another-slide-footer > a {
    color: #214e9b;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.another-slide-footer > div {
    padding-bottom: 18px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 10px;
}
