.statistic {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    border-bottom: 1px solid #e1e1e1;
}

.stat-box {
    display: flex;
    align-items: baseline;
}

.stat-box>span {
    color: #708cbb;
    font-size: 36px;
    text-transform: uppercase;
    margin-right: 35px;
}

.statistic>div>p {
    margin-top: 10px;
    color: #767676;
    font-size: 16px;
}

@media (max-width: 1164px) {
    .stat-box>span {
        font-size: 20px;
        margin-right: 10px;
    }

    .stat-box>img {
        height: 20px;
        width: 20px;
    }
}

@media (max-width: 400px) {
    .statistic {
        display: none;
    }
}